<a href="https://colab.research.google.com/github/timothy-87/course_material/blob/main/Simple_Analaysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Base Python

In [ ]:
type(2)

int

In [ ]:
print("Baraka")

Baraka

In [ ]:
import math

math.sqrt(16)

4.0

In [ ]:
import pandas as pd

student_data1 = pd.read_csv("StudentsPerformance.csv")
# pd.read_excel() - read excel files
# pd.read_json() - read json files


student_data1.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# Base
import csv

with open("StudentsPerformance.csv") as student_data:
  reader = csv.DictReader(student_data)
  students = list(reader)

for index in range(5):
  print(students[index])

{'gender': 'female', 'race/ethnicity': 'group B', 'parental level of education': "bachelor's degree", 'lunch': 'standard', 'test preparation course': 'none', 'math score': '72', 'reading score': '72', 'writing score': '74'}
{'gender': 'female', 'race/ethnicity': 'group C', 'parental level of education': 'some college', 'lunch': 'standard', 'test preparation course': 'completed', 'math score': '69', 'reading score': '90', 'writing score': '88'}
{'gender': 'female', 'race/ethnicity': 'group B', 'parental level of education': "master's degree", 'lunch': 'standard', 'test preparation course': 'none', 'math score': '90', 'reading score': '95', 'writing score': '93'}
{'gender': 'male', 'race/ethnicity': 'group A', 'parental level of education': "associate's degree", 'lunch': 'free/reduced', 'test preparation course': 'none', 'math score': '47', 'reading score': '57', 'writing score': '44'}
{'gender': 'male', 'race/ethnicity': 'group C', 'parental level of education': 'some college', 'lunch': 'standard', 'test preparation course': 'none', 'math score': '76', 'reading score': '78', 'writing score': '75'}

In [ ]:
# Accessing a row
students[2]

{'gender': 'female',
 'race/ethnicity': 'group B',
 'parental level of education': "master's degree",
 'lunch': 'standard',
 'test preparation course': 'none',
 'math score': '90',
 'reading score': '95',
 'writing score': '93'}

In [ ]:
student_data1.iloc[2]

gender                                  female
race/ethnicity                         group B
parental level of education    master's degree
lunch                                 standard
test preparation course                   none
math score                                  90
reading score                               95
writing score                               93
Name: 2, dtype: object

In [ ]:
student_data1["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [ ]:
# iloc - interger location {dataframe.iloc[row index, column index]}
# student_data1.iloc[:, -3]

# loc - label / location {datafram.loc[row index, column index]}
student_data1.loc[:, 'math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [ ]:
sampple = student_data1.loc[:, ["math score", "reading score"]]
type(sampple)

pandas.core.frame.DataFrame

In [ ]:
# you can use loc when filtering
student_failure = student_data1.loc[student_data1["math score"]<50, :]
student_failure.describe()

       math score  reading score  writing score
count  135.000000     135.000000     135.000000
mean    40.955556      49.466667      47.237037
std      8.427803      10.544009      11.042798
min      0.000000      17.000000      10.000000
25%     38.000000      43.000000      41.000000
50%     44.000000      51.000000      49.000000
75%     47.000000      57.500000      54.000000
max     49.000000      73.000000      70.000000

In [ ]:
# Accessing a column
print([row['lunch'] for row in students[:10]])

['standard', 'standard', 'standard', 'free/reduced', 'standard', 'standard', 'standard', 'free/reduced', 'free/reduced', 'free/reduced']

In [ ]:

student_data1['lunch']

0          standard
1          standard
2          standard
3      free/reduced
4          standard
           ...
995        standard
996    free/reduced
997    free/reduced
998        standard
999    free/reduced
Name: lunch, Length: 1000, dtype: object

In [ ]:
# external libraries - pandas, numpy, scipy,....

student_data

In [ ]:
import numpy as np

# math.sqrt

np.sqrt(16)

np.float64(4.0)

In [ ]:
# type(student_data1)
student_data1.head(1)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74

In [ ]:
# Series - 1D array {a column of a dataframe}
math = student_data1['math score']
# type(math)
math

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64